* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

:root {
  --middleBlue: #8AC6D0;
  --blizzardBlue: #B8F3FF;
  --onyx: #393D3F;
}

.App {
  text-align: center;  
  background-color: #8AC6D0;
}

.nav-items {
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.about-me {
  background-color: #393D3F;
  color: #B8F3FF;
  padding: 5px;
  margin: 20px;
  width: fit-content;
  text-align: start;  
}

.project-container {
  margin: 20px;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}  */


